/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-empty-source */

:root {
  --primary-color: #6070ff;
  --primary-color-deep: #2230d2;
  --primary-color-light: #7f8cff;
  --base-color: #fff;
  --grey-text: #344563;
  --grey-text-light: #c1c7d0;
  --grey-text-deep: #172b4d;
  --grey-text-deep-2: #091e42;
  --light-white-bg: #f7f7f9;
  --card-border: #dfe1e6;
  --project-description-color: #344563;
  --project-additional-info-text: #7a869a;
  --tag-bg: #ebebff;
  --project-btn-text: #396df2;
  --skill-label-color: #253858;
}

html,
body {
  background-color: var(--light-white-bg);
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: auto;
}

#navbar {
  padding: 18px 0;
  background-color: var(--base-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

#navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page_logo {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
}

.nav-toggle-btn {
  background: transparent;
  outline: none;
  border: none;
  display: block;
}

.nav-toggle-btn img {
  width: 1.5rem;
}

.nav-links {
  list-style: none;
  display: none;
  align-items: center;
}

.nav-links .nav-link {
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 8px;
}

.nav-links .nav-link:hover {
  background: rgb(96 112 255 / 22%);
}

.nav-links .nav-link a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--grey-text);
}

#headline {
  position: relative;
  min-height: 35rem;
  width: 100%;
  background: url("./assets/images/header-bg-mobile.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--base-color);
  border-bottom-left-radius: 5.5rem;
  margin-top: 67px;
}

#headline .container {
  position: relative;
  top: 5rem;
}

.headline-title {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  color: var(--grey-text-deep);
  line-height: 52px;
}

#headline hgroup .headline-title:last-child {
  width: 90%;
}

#headline p {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.headline-connect-link {
  color: var(--primary-color-light);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-links {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-left: 0;
}

.social-links li {
  display: block;
  padding: 7px 13px;
}

.social-links li a:hover {
  color: var(--primary-color-deep);
}

.social-links li:nth-child(1) {
  padding-left: 0 !important;
}

#work-section {
  background: var(--light-white-bg);
  padding: 6rem 0;
}

#work-section .container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 3rem;
}

.card-work {
  background: var(--base-color);
  border: 1px solid var(--card-border);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  margin-bottom: 1rem;
  padding: 0;
}

.card-work .card-content .project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--grey-text-deep);
  margin: 0;
  max-width: 90%;
}

#work-section .container .card-work:nth-child(even) {
  flex-direction: column;
}

.project-additional-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.project-additional-info h5 {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--project-description-color);
}

.project-additional-info p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--project-additional-info-text);
}

.dot {
  width: 8px;
  height: 8px;
  background: var(--grey-text-light);
  border-radius: 50%;
}

.project-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--project-description-color);
  margin: 0;
  width: 90%;
}

.project-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 8px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.project-tags li {
  background: var(--tag-bg);
  padding: 4px 12px;
  border-radius: 8px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.project-btn {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background-color: var(--base-color);
  color: var(--project-btn-text);
  letter-spacing: 0.03em;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: max-content;
  display: inline-block;
  cursor: pointer;
}

.project-btn:hover {
  background: var(--primary-color);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.project-btn:active {
  background: var(--primary-color-deep);
  color: #fff;
}

.card-work .card-content .project-btn {
  margin-top: 0;
}

#about-section {
  background: var(--base-color);
  padding: 6rem 0;
  border-top-right-radius: 5.5rem;
}

#about-section .container .about,
#about-section .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--grey-text-deep);
  margin: 0;
}

.about-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--project-description-color);
  margin: 0;
}

#about-section .social-links {
  margin-bottom: 0;
}

#about-section .container .skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  margin-top: 0.7rem;
  list-style: none;
}

.skill-list .accordion {
  width: 100%;
}

.skill-list .accordion .accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--card-border);
}

.skill-list .accordion:nth-child(1) .accordion-header {
  border-bottom: none;
}

.skill-list .accordion .accordion-header h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.skill-list .accordion .accordion-header button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: transparent;
  padding: 8px;
  display: block;
  border: none;
}

.skill-list .accordion .accordion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 12px 12px 24px;
  gap: 12px;
  list-style: none;
  margin: 0;
}

.skill-list .accordion .accordion-content .skill-item {
  background: var(--light-white-bg);
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 14px;
  gap: 1rem;
}

.skill-item-logo {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
}

.skill-list .accordion .accordion-content .skill-item h6 {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--skill-label-color);
  margin: 0;
}

#contact-section {
  width: 100%;
  min-height: 779px;
  background: url("./assets/images/contact-form-shapes-mobile.png");
  background-position: right;
  background-size: 60%;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  border-top-left-radius: 5.5rem;
  padding: 4rem 0 2rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact-section .container {
  width: inherit;
}

#contact-section .contact-section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-bottom: 1.3rem;
}

#contact-section .contact-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--tag-bg);
  margin: 0 auto 40px auto;
}

#contact-section form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#contact-section .form-group {
  width: 100%;
}

#contact-section .form-group .form-control {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  padding: 0.95rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#contact-section .form-group .form-control:focus {
  border-color: var(--primary-color-deep);
  outline: 0;
}

#contact-section .form-group .form-control::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

#contact-section form .form-group:last-child {
  text-align: left;
}

/* Medium devices (tablets, 768px and up */
@media (min-width: 768px) {
  .nav-links {
    display: flex;
  }

  .nav-toggle-btn {
    display: none;
  }

  #headline {
    min-height: 40rem;
    width: 100%;
    background: url("./assets/images/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--base-color);
    border-bottom-left-radius: 5.5rem;
    background-position: -394px -2px;
    margin-top: 110px;
  }

  .container {
    width: 80%;
    margin: auto;
  }

  #headline .container {
    width: 75%;
    position: relative;
    top: 9rem;
  }

  .headline-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin: 0;
    color: var(--grey-text-deep);
  }

  #headline p {
    color: var(--grey-text);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 90%;
  }

  .card-work {
    padding: 20px;
  }

  .card-work .card-content .project-btn {
    margin-top: 10px;
  }

  .card-work .card-content .project-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    max-width: 100%;
  }

  .project-additional-info h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .project-additional-info p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .project-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .project-tags {
    margin-top: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #work-section .container {
    row-gap: 9rem;
  }

  #headline .container {
    width: 65%;
    position: relative;
    top: 16rem;
  }

  #headline {
    min-height: 50rem;
    background-size: 100%;
    background-position: unset;
  }

  .card-work {
    flex-direction: row;
    align-items: flex-start;
  }

  .card-work .card-content {
    padding: 35px 23px;
  }

  #work-section .container .card-work:nth-child(even) {
    flex-direction: row-reverse;
  }

  #about-section .container {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
  }

  #about-section .container .about {
    width: 64%;
  }

  .about-title {
    color: var(--grey-text-deep-2);
  }

  .skill-list .accordion .accordion-content {
    flex-direction: row;
  }

  .skill-list .accordion .accordion-content .skill-item {
    flex-direction: column;
    align-items: start;
    max-width: 122px;
  }

  #contact-section {
    min-height: 846px;
    background: url("./assets/images/contact-form-background.png");
    background-position: center;
    background-size: 90%;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    padding: 4rem 0 2rem 0;
  }

  #contact-section .container {
    width: 37%;
  }

  #contact-section .form-group .form-control {
    border-radius: 2px;
  }

  #contact-section form .form-group:last-child {
    text-align: center;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
